/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
ul, ol, li{
  list-style: none;
}

.app{
  width: 100vw;
  height: 100vh;
  background: #223238;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-section{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left-section > h1{
  color: #ffff;
}
.right-section{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-input > h1{
  margin-bottom: 20px !important;
  color: #ffff;
}

.server-animate{
  width: 35vw;
}
.card-input{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #92E3A9;
  border-radius: 15px;
  box-shadow: 0px 10px 40px #0000;
}
.textfield >input {
  width: 100%;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  color: #223238;
  font-size: 12pt;
  box-shadow: #223238;
  outline: none;
  box-sizing: border-box;
}
.textfield >label {
  color: #223238;
  font-size: 12pt;
  font-weight: 800;
}
.card-input >h1{
  color: #223238;
  font-weight: 800;
  margin: 0;
}
.file {
  margin-top: 0 !important;
  margin-bottom:0 !important;
  padding-left: 0 !important;
}
.btn-send{
  color: #ffff !important;
  font-size: 12pt;
  background: #223238;
}

.textfield > input::placeholder{
  color: #a6a6a6
}

@media only screen and (max-width: 950px){
  .card-input{
    width: 85%;
  }
}

@media only screen and (max-width: 600px){
  .app{
    flex-direction: column;
  }

  .left-section> h1{
    display: none;
  }

  .left-section{
    width: 100%;
    height: auto;
  }

  .right-section {
    width: 90%;
    height: auto;
  }

  .server-animate{
    width: 40vh;
  }
}